/* custom color scheme */
.bg-red {
    background-color: #800000;
}

.text-grey {
    color: #f9f9f9;
}

/* custom navbar styles */
.navbar {
    positon: absolute;
    min-height: 15rem;
    padding: 2em;
}

.portrait {
    width: 40%;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.name-title {
    font-size: 25px;
}

/* custom body styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 15rem;
}

.content {
    padding: 2em 2em 6em; /* 70px = footer height + expected padding */
    margin-bottom: -4em;  /* brings the footer into the padding gap */
    min-height: 100%;
    flex: 1 0 auto;
}

.text-block {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
}


h3 {
    margin-top: 0.7em;
}

.country-flag {
    max-width: 2em;
}

/* footer styles */
.footer {
    background: #f9f9f9;
    position: absolute;
    height: 10rem;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer .index {
    padding-top: 3rem;
}