/* custom color scheme */
.bg-red {
    background-color: #800000;
}

.text-grey {
    color: #f9f9f9;
}

.navbar {
    min-height: 10em;
    padding: 2em;
}

.portrait {
    width: 40%;
    border-radius: 0.5em;
    margin-bottom: 1em;
}