{% extends 'bootstrap4/bootstrap4.html' %}

{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block bootstrap4_extra_head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,300,700" type="text/css">

    <!-- Bootstrap CSS - do not change -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link href="{% static 'base/css/style.css' %}" rel="stylesheet" type="text/css">
    <!-- Icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

    {% block bootstrap4_title %}
    <title>
    Matthias - Product Manager
    </title>
    {% endblock %}


{% endblock %}

{% block bootstrap4_content %}

<div class="navbar bg-red text-grey">
    <div class="row">
        <div class="col-lg-4 col-sm-12 text-center text-lg-right">
            <img class="portrait" src="{% static 'base/img/matthias_office.png' %}" />
        </div>
        <div class="col-lg-8 col-12">
            <div class="row">
                <div class="col-12 text-center text-lg-left">
                    <span class="name-title">I'm Matthias</span>
                    <p>Proud husband and father. I am a Product Manager and I like writing lines of software</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center text-lg-left">
                    <a class="text-grey" href="https://twitter.com/huegli_matthias"><i class="fab fa-twitter"></i> Twitter</a>
                </div>
                <div class="col-lg-12 text-center text-lg-left">
                    <a class="text-grey" href="https://www.linkedin.com/in/matthias-h%C3%BCgli-61b3516a/?locale=en_US"><i class="fab fa-linkedin-in"></i> Linkedin</a>
                </div>
                <div class="col-lg-12 text-center text-lg-left">
                    <a class="text-grey" href="https://github.com/math87698"><i class="fab fa-github"></i> Github</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Experience</h3>
            {% for position in positions %}
            <div class="text-block">
                <div class="row">
                    <div class="col-12">
                        <h5>{{ position.title }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-lg-2">
                        {{ position.company }}
                    </div>
                    <div class="col-6 col-lg-10">
                        {{ position.date_from|date:'M Y' }} - {% if position.date_to == none %}Present{% else %}{{ position.date_to|date:'M Y' }}{% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% if position.country == 'Switzerland' %}
                        <img class="country-flag" src="{% static 'base/img/switzerland.svg' %}" />
                        {% elif position.country == 'United States' %}
                        <img class="country-flag" src="{% static 'base/img/united-states.svg' %}" />
                        {% endif %}
                        {{ position.city }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <h3>Education</h3>
            {% for education in educations %}
            <div class="text-block">
                <div class="row">
                    <div class="col-12">
                        <h5>{{ education.degree }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ education.facility }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-10">
                        {{ education.date_from|date:'M Y' }} - {% if education.date_to == none %}Present{% else %}{{ education.date_to|date:'M Y' }}{% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <h3>Skills</h3>
            <div class="row">
                <div class="col-lg-2 col-12">
                    <h5>Methodologies</h5>
                </div>
                <div class="col-lg-10 col-12">
                    <p>Agile, Scrum, Lean/Startup, Jobs-to-be-Done</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-12">
                    <h5>Collaboration</h5>
                </div>
                <div class="col-lg-10 col-12">
                    <p>Jira, Confluence, HipChat, Slack, Trello, Airtable, Google Suite, Microsoft Suite</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-12">
                    <h5>Analytics</h5>
                </div>
                <div class="col-lg-10 col-12">
                    <p>Behavioral with Google Analytics</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-12">
                    <h5>Development</h5>
                </div>
                <div class="col-lg-10 col-12">
                    <p>SQL, HTML, Django-Python, Continuous Integration and Delivery with Bitbucket, Github and Heroku</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<footer class="footer">
    <div class="container index">
        <div class="row">
            <div class="col-12 col-lg-8 text-center text-lg-left">
                <a href="{% url 'imprint' %}">Imprint</a>
            </div>
            <div class="col-12 col-lg-4 text-center text-lg-right">
                © Copyright 2018
            </div>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

{% endblock %}


